
<ion-content>
  <img src="assets/image/Feedback.png" class="img1">
  <div class="mainer">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="width:90%; padding:0" class="boxing">
          <ion-card-header>
            <ion-title color="danger" margin="0" padding="0" class="ion-text-left">
            
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="stacked"></ion-label>
              <ion-textarea class="fonty" placeholder="Please provide your comment here"></ion-textarea>
            </ion-item>
            <div margin-vertical text-center>
              <ion-button fill="solid" color="success">Submit</ion-button>
            </div>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
   
    <!-- Total -->
   
    <ion-row>
      <ion-col style="background:#645F8C; text-align: center;">
        <ion-item color="bottom1" class="ion-text-center">Rate Us!
        <ion-button class="bitbut" fill="solid" color="warning"><ion-icon name="happy"></ion-icon></ion-button>
        <ion-button class="bitbut2" fill="solid" color="danger"><ion-icon name="sad"></ion-icon></ion-button>
      </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</div>
</ion-content>
