.boxing{
    background:#645F8C;
}

.mainer{
    background:#080048;
    margin:0;
    position:fixed;
    bottom:30px;
    width:100%;
    left:0%;
    height:80%;
    padding:0;
}

.fonty{
    font-size: 10px;


}

.bitbut{
    margin-left:15px;
    position:left;
}

.bitbut2{
    margin-left:15px;
    position:left;
}

.boxer{
    columns: #664f8c;

}

.img1{
    width: 100%;
    height:20%;
    z-index:100 ;
    position:relative;

}

.boxers{
    top:0px;

}