<ion-content>
  <div class="main">
      <img src="assets/image/m.jpeg" class="crime">
      <ion-card style ="width:90%" class="boxing">
      <ion-grid>
        <ion-row class="loginInfo">
          <ion-item style="width:100%">
            <ion-input type="number" placeholder="ID Number"></ion-input>
          </ion-item>
          <ion-item style="width:100%" >
              <ion-input type="number" placeholder="Password"></ion-input>
          </ion-item>
        </ion-row>
      </ion-grid>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button fill="outline" class="btn1">Log In</ion-button>
          </ion-col>
          <ion-col>
              <ion-button fill="outline" class="btn2">Register</ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
