
.boxing{
    background:#645F8C;
}

.mainer{
    background:#080048;
    height: 100%;
}

.expand{

    height:10%;
    width:100%;

}

.fonty{
    font-size: 10px;


}

.gambar1{
    margin:0;
    
}

.bitbut{
    margin-left:15px;
    position:left;
}

.bitbut2{
    margin-left:15px;
    position:left;
}

.boxer{
    columns: #664f8c;

}