    .main {
        background:#080043;
    }

    .crime {
    padding-top:75px;
    padding-bottom:200px;
    }

    .police{
        padding-left:300px;
        color:white;
    }

    .bottom{
        background:#645F8C;
        height:60px;
        font-size:20px;
    }


ion-content{
    background-color:#080048
    }