    .main {
        background:#080043;
        height: 100%;
    }

    .crime {
        padding-top:25%;
        padding-bottom:200px;
        padding-left:40px;
        height: 80%;
        }

    .police{
        --background: #080043;
        padding-left: 270px;
        color:white;
    }

    .bottom{
        background:#645F8C;
        height:60px;
        font-size:20px;
    }


ion-content{
    background-color:#080048
    }