<ion-header>
    <ion-toolbar color="light">
        <ion-title class="ion-text-center" style="color:#645F8C; background:#080048;padding-top:30px;">
            <img class="gambar1"src="assets/image/crimreport.jpg">

      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="mainer">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card style="width:90%; padding:0" class="boxing">
            <ion-card-header>
              <ion-title color="danger" margin="0" padding="0" class="ion-text-left">
              
              </ion-title>
            </ion-card-header>
            <ion-card-content>
                
                  <ion-button class="tomboll1" fill="solid" color="danger" size="large"> ALERT SUCCESSFULL </ion-button>
                
  
  
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
     
      
     
     
  
    </ion-grid>
  </div>
  </ion-content>