<ion-header>
    <ion-toolbar color="light">
        <ion-title class="ion-text-center" style="color:#645F8C; background:#080048;padding-top:30px;">
            <img class="gambar1"src="assets/image/crimspott.jpg">

      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="mainer">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card style="width:90%; padding:0" class="boxing">
            <ion-card-header>
              <ion-title color="danger" margin="0" padding="0" class="ion-text-left">
              
              </ion-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">First Name</ion-label>
                    <ion-textarea class="fonty"></ion-textarea>
                  </ion-item>
      
                  <ion-item>
                    <ion-label position="stacked">Last Name</ion-label>
                    <ion-textarea class="fonty"></ion-textarea>
                  </ion-item>
      
                  <ion-item>
                    <ion-label position="stacked">Phone Number</ion-label>
                    <ion-textarea class="fonty"></ion-textarea>
                  </ion-item>
      
                  <ion-item>
                    <ion-label position="stacked">Address</ion-label>
                    <ion-textarea class="fonty"></ion-textarea>
                  </ion-item>
      
                  <ion-item>
                    <ion-label position="stacked">Email</ion-label>
                    <ion-textarea class="fonty"></ion-textarea>
                  </ion-item>
      
                  <ion-item>
                    <ion-label position="stacked">ID Number</ion-label>
                    <ion-textarea class="fonty"></ion-textarea>
                  </ion-item>
      
                  <div margin-vertical text-center>
                    <ion-button fill="solid" color="success">Register</ion-button>
                  </div>
      
  
  
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
     
      
     
     
  
    </ion-grid>
  </div>
  </ion-content>